extends layout

block content    
  h1 Click below to set the database to resync the data from mLab. (This could take up to 15 minutes).
    #syncStatus
  button.btn#syncButton Run

  h1 Click below to downlaod the synced data.
  button.btn#getDataButton Get Data
block scripts
  script(src="/main.js")


