body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#syncStatus, #algorithmStatus{
  background: lightskyblue;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.section {
  max-width: 800px;
  background: #eee;
  border-radius: 10px;
  margin: 10px auto;
  padding: 25px;
}

.btn {
  margin: 10px;
}

h1 { font-family: 'Trocchi', serif; font-size: 25px; font-weight: normal; margin: 0; }